Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
x = 10
y = 20
z = 30

a = 100
b = 100
c = 100

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [ ]:
inter1 = int(input("Inserisci un numero intero: "))
inter2 = int(input("Inserisci un'altro numero intero: "))
print("Numeri inseriti: ", inter1, inter2)

inter1,inter2 = inter2, inter1

print("Numeri invertiti: ", inter1,inter2)

Inserisci un numero intero: 10
Inserisci un'altro numero intero: 20
Numeri inseriti:  10 20
Numeri invertiti:  20 10

2. far inserire all'utente due numeri e calcolare l'elevamento a potenza del primo per il secondo. Provare poi a vedere qual'è la massima potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

In [ ]:
n1 = int(input("Inserisci un numero: "))
n2 = int(input("Inserisci un'altro numero: "))

n3 = n1 ** n2 
print("Potenza del primo e il secondo: ", n3)

Inserisci un numero: 2
Inserisci un'altro numero: 5000
Potenza del primo e il secondo:  141246703213942603683520966701614733366889617518454111681368808585711816984270751255808912631671152637335603208431366082764203838069979338335971185726639923431051777851865399011877999645131707069373498212631323752553111215372844035950900535954860733418453405575566736801565587405464699640499050849699472357900905617571376618228216434213181520991556677126498651782204174061830939239176861341383294018240225838692725596147005144243281075275629495339093813198966735633606329691023842454125835888656873133981287240980008838073668221804264432910894030789020219440578198488267339768238872279902157420307247570510423845868872596735891805818727796435753018518086641356012851302546726823009250218328018251907340245449863183265637987862198511046362985461949587281119139907228004385942880953958816554567625296086916885774828934449941362416588675326940332561103664556982622206834474219811081872404929503481991376740379825998791411879802717583885498575115299471743469241117070230398103378615232793710290992656444842895511830355733152020804157920090041811951880456705515468349446182731742327685989277607620709525878318766488368348965015474997864119765441433356928012344111765735336393557879214937004347568208665958717764059293592887514292843557047089164876483116615691886203812997555690171892169733755224469032475078797830901321579940127337210694377283439922280274060798234786740434893458120198341101033812506720046609891160700284002100980452964039788704335302619337597862052192280371481132164147186514169090917191909376

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
m1 = int(input("Inserisci un numero: "))
m2 = int(input("Inserisci un secondo numero: "))
m3 = int(input("Inserisci un terzo numero: "))
max = 0

if m1 > m2 and m1 > m3:
  max = m1
elif m2 > m1 and m2 > m3:
  max = m2
elif m3 > m2 and m3 > m1:
  max = m3

print("il maggiore è: ", max)

Inserisci un numero: 10
Inserisci un secondo numero: 20
Inserisci un terzo numero: 30
il maggiore è:  30

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

In [ ]:
lato1 = int(input('Inserisci il lato 1: '))
lato2 = int(input('Inserisci il lato 2: '))
lato3 = int(input('Inserisci il lato 3: '))

if lato1 < lato2 + lato3 and lato2 < lato1 + lato3 and lato3 < lato2 + lato1:

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

In [ ]:
import math
cat1 = float(input("Inserire il cateto 1: "))
cat2 = float(input("Inserire il cateto 2: "))

area = cat1 * cat2 / 2
ipot = math.sqrt((cat1**2) + (cat2**2))

print("L'area del triangolo rettangolo è: ", area," cm^2")
print("L'ipotenusa del triangolo rettangolo è: ", ipot," cm")

Inserire il cateto 1: 3
Inserire il cateto 2: 4
L'area del triangolo rettangolo è:  6.0  cm^2
L'ipotenusa del triangolo rettangolo è:  5.0  cm

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
npd = int(input("Inserisci un numero intero: ")) 

if npd % 2 == 0:
  print("Pari")
else:
  print("Dispari")

Inserisci un numero intero: 10
Pari

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
cent = float(input("Inserisci la temperatura in centigradi: "))

ctf = (cent*(9/5))+32

print("I gradi in fahrenheit sono: ", ctf)

Inserisci la temperatura in centigradi: 50
I gradi in fahrenheit sono:  122.0

8. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
fahr = float(input("Inserisci la temperatura in fahrenheit: "))

ftc = (fahr-32) / (5/9)

print("I fahreheit in gradi sono: ", ftc)

Inserisci la temperatura in fahrenheit: 32
I fahreheit in gradi sono:  0.0

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [ ]:
kmh = float(input("Inserisci la velocità in kmh: "))

kmms = kmh / 3.6

print("La velocità in metri al secondo è: ", kmms)

Inserisci la velocità in kmh: 1
La velocità in metri al secondo è:  0.2777777777777778

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [ ]:
ragc = float(input("Inserisci il raggio di un cerchio: "))

ragdim = ragc * 2
ragarea = 3.14 * ragc**2

print("Il diametro è: ", ragdim)
print("L'area è: ", ragarea)

Inserisci il raggio di un cerchio: 12
Il diametro è:  24.0
L'area è:  113.04

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
nc = str(input("Inserisci il tuo nome e cognome: "))
res = nc.split(" ")

print("Nome: ", res[0], " Cognome: ", res[1])

Inserisci il tuo nome e cognome: Filippo Neri
Nome:  Filippo  Cognome:  Neri

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
val = int(input("Inserisci un numero: "))

print("Il valore assoluto è: ", abs(val))

Inserisci un numero: -2
Il valore assoluto è:  2

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [ ]:
voto = int(input("Inserisci un voto: "))

if voto >= 1 and voto <= 10:
  print("OK")
else:
  print('KO')

Inserisci un voto: 11
KO

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [ ]:
x1 = int(input("Inserisci un numero: "))
x2 = int(input("Inserisci un secondo numero: "))

if x1 % x2 == 0 or x2 % x1 == 0:
  print(x1, " è multiplo di ", x2)
else:
  print(x1, " non è multiplo di ", x2)

Inserisci un numero: 60
Inserisci un secondo numero: 15
60  è multiplo di  15

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secodni e convertirlo in secondi

In [ ]:
ore1 = int(input("Inserisci una durata di periodo in ore: "))
min1 = int(input("Inserisci una durata di periodo in minuti: "))
sec1 = int(input("Inserisci una durata di periodo in secondi: "))

ore1 = ore1 * 3600
min1 = min1 * 60
sec1 = sec1+ore1+min1

print("Il risultato di conversione a secondi è: ", sec1)

Inserisci una durata di periodo in ore: 2
Inserisci una durata di periodo in minuti: 0
Inserisci una durata di periodo in secondi: 0
Il risultato di conversione a secondi è:  7200

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [ ]:
sec = int(input("Inserisci una durata di periodo in secondi: "))    

ore = sec // 3600
sec = sec % 3600
min = sec // 60
sec = sec % 60

print("I secondi convertiti sono:",ore,"h :",min,"m :",sec,"s")

Inserisci una durata di periodo in secondi: 7200
I secondi convertiti sono: 2 h : 0 m : 0 s